#card-wrap {
  display: flex;
  margin: 0;
  margin-bottom: 15px;
  justify-content: center;
}

.uni-card {
  margin: 1rem;
  padding: 10px;
  background-color: #f2f7f5 !important;
  overflow-wrap: break-word;
}

.uni-card-body {
  background-color: #f2f7f5;
  transition: 1s;
  overflow-wrap: break-word;
  display: inline-block;
  padding: 15px;
}

.card-title {
  word-wrap: break-word;
  display: flex;
  font-size: 1.3rem;
  color: #00473e;
}

.card-light-text {
  color: #faae2c;
}

.card-text {
  color: #475d5b !important;
}

.card-link {
  color: #475d5b;
  font-weight: 500;
}

.card-text-wrap {
  display: flow-root;
}

.fsml {
  margin: 10vh 5vw;
  background-color: blue;
  height: 100px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f5f5f5;
  font-size: 1.5rem;
  border-radius: 10px;
  transition: 1s;
  cursor: pointer;
}
.fa {
  transition: 1s;
  /* color: #f5f5f5; */
}
.fa:before {
  color: #f5f5f5;
}
.modal-content {
  height: 0;
  width: 0;
  margin: 0;
}
h1.modal-content {
  opacity: 0;
  transition: 1s;
}
.google {
  background: linear-gradient(135deg, #83458e 0%, #608dc9 100%);
}

.growing h1.modal-content {
  height: auto;
  margin: 0;
  opacity: 0;
  transition-delay: 0.5s;
}
.full-screen {
  height: 100vh;
  width: 100vw;
  z-index: 100;
  /* position: fixed; */
  margin: 0;
  border: solid;
  border-width: 5px;
  border-color: #00473e;
}

/*text related transitions*/
.full-screen .fa {
  font-size: 2rem;
}
.full-screen .modal-content {
  height: auto;
  width: auto;
  margin: inital;
}
.full-screen h1.modal-content {
  transition-delay: 0.5s;
  opacity: 1;
}
.shrinking h1.modal-content {
  transition-delay: 0s;
  transition: 0.5s;
  opacity: 0;
  display: block;
}

.full-screen .logoStyle {
  border-radius: 50%;
  width: 230px;
  height: 230px;
  float: left;
  margin: 80px 50px 5px 30px;
}

.logoStyle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px 25px 5px 0px;
}

.full-screen .card-text-wrap {
  display: inline-block;
  margin-bottom: 15px;
  margin: 100px 0 0 0;
}

.address {
  display: block;
  flex-grow: 1;
  overflow: auto;
  word-wrap: break-word;
  margin-top: 50px;
  color: #475d5b;
  font-family: sans-serif;
  font-weight: 500;
}

.shrinking .address {
  visibility: hidden;
}
.full-screen .address {
}

.widget {
  /* height: 800px;
  width: 300px;*/
  float: right;
  margin: 50px;
}

.shrinking .widget {
  visibility: hidden;
}

.full-screen .widget {
}

.weather {
}
.widget-right__header--brown {
  background-image: linear-gradient(to top left, #00473e, #00a892) !important;
  color: #333;
}
.widget-right__footer {
  background-image: linear-gradient(to top left, #00473e, #00aa93);
}

.map-wrap {
  margin: 50px;
  display: block;
}

.shrinking .map-wrap {
  visibility: hidden;
}
.map {
  display: block;
  margin: 30px;
}

.icon {
  margin-right: 7px;
}

.img-wrap {
  position: relative;
}

.google_map {
}

.expand-icon {
  float: right;
  font-size: 20px;
  position: absolute;
  bottom: 30px;
  right: 30px;

  color: #00473e;
}

.expand-icon:hover {
  color: #fa5246;
}

.full-screen .expand-icon {
  visibility: hidden;
}
/* iframergb(18, 124, 199)
  min-width: 600px;
  height: 400px;
} */

.shrink-Btn {
  position: absolute;
  /* right: 0; */
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  font-size: 3rem;
  background-color: transparent;
  border: 0px;
  color: #00473e;
}
.shrinking .shrink-Btn {
  visibility: hidden;
}

.shrink-Btn:hover {
  background-color: #0000004b;
  color: #fa5246;
}

.shrink-icon {
}

.shrink-icon:hover {
}

/* #fsm_actual {
  border: none;
  border-width: 5px;
  border-color: #00473e;
} */

.shrinking #fsm_actual {
  border: none;
  border-width: 5px;
  border-color: #00473e;
}

.full-screen #fsm_actual {
  border: solid;
  border-width: 5px;
  border-color: #00473e;
}

@media (max-width: 425px) {
  .uni-card-body {
    padding: 7px;
  }

  .logoStyle {
    margin: 25px 10px 5px 0px;
    height: 70px;
    width: 70px;
  }

  .expand-icon {
    bottom: 15px;
    right: 15px;

    color: #00473e;
  }

  .full-screen .logoStyle {
    margin: 50px auto 0px auto;
    display: block;
    float: none !important;
  }
  .full-screen .card-text-wrap {
    display: inline-block;
    margin-bottom: 15px;
    margin: 50px 0 0 10px;
  }
  .full-screen .address {
    display: block;
    margin-left: 10px;
  }
  .full-screen .widget {
    float: none;
    margin: 50px 10px 50px 10px;
  }

  .weather-right--type1:first-of-type {
    margin-left: auto;
    margin-right: auto;
  }

  .map-wrap {
    margin: 40px 15px 40px 15px;
    display: block;
  }
}
